.title {
  text-decoration: solid;
  font-weight: bolder;
}
.board {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.btn {
  height: 30px;
  width: 30px;
  background: rgb(76, 224, 224);
  border-radius: 10px;
  margin: 10px;
  color: black;
}
.btnsad {
  height: 30px;
  width: 30px;
  background: rgb(255, 6, 6);
  border-radius: 10px;
  margin: 10px;
}

.btnhappy {
  height: 30px;
  width: 30px;
  background: rgb(1, 255, 56);
  border-radius: 10px;
  margin: 10px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  background: rgb(190, 245, 255);
  padding: 10px;
  margin: 5px;
}
body {
  background: rgb(0, 3, 20);
}
.miniheader {
  display: flex;
  justify-content: space-evenly;
  color: azure;
}
.happysad {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.img{
  height: 50px;
  width: 50px;
  align-content: center;
  border-radius: 200px;
}